.main-input {
  position: relative;
}

.main-input input {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: transparent;
  padding-left: 40px;
  position: relative;
}

.input-img,
.input-img-2,
.input-img-pass {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-img {
  left: 38px;
}

.input-img-2 {
  left: 38px;
}

.input-img-pass {
  right: 38px;
  cursor: pointer;
}