.blog-btn{
    border-radius: 5px;
    border: none;
    widows: 30%;
    height: 35px;
    background-color: gold;
    cursor: pointer;
}

.blogsection-map{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.blog-readmore-edit-btn{
    display: flex;
    justify-content: space-between;
}

.blog-edit-delete{
    display: flex;
    justify-content: space-evenly;
}