.navbar-btn{
    height: 30px;
    width:100px;
    border-radius: 5px;
    font-size: large;
    margin-left: 1rem;
    border: none;
}

.navbar-btn:hover{
    background-color: goldenrod;
}

@media screen and (max-width : 800px) {
    .navbar-btn{
        margin-left: 0;
        margin-bottom:1rem ;
    }
    
}