.navbar {
    padding: 2rem 2rem;
    background-color: whitesmoke;
    
}


.navbar-main {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: whitesmoke;

}

.navbar-main-link,
.navbar-main-logo,
.navbar-main-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-main-link p:hover {
    background-color: goldenrod;
}

.navbar-main-link p,
.navbar-main-logo h2 {
    padding: 5px 12px;
    margin: 2px 4px;
    cursor: pointer;
}

.navbar-main-logo h2 {
    margin-right: 8rem;
    margin-left: 1rem;
}

.navbar-main-logo h2:hover {
    color: goldenrod;
}


.navbar-main-icon {
    display: none;
}

.navbar-main-login button {
    width: 70%;
}

.navbar-main-login-responsive button {
    width: 70%;
}

.nav-signup-login-btn{
    display: flex;
    justify-content: space-between;
}

.nav-signup-login-btn button{
    margin-left: 0.5rem;
}

.navbar-profile {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-profile:hover {
    color: goldenrod;
}

.profile-nav {
    padding-top: 0.75rem;
    margin-right: 0.5rem;
    /* width: 50px;
    height: 50px; */
}

.navbar-profile-name{
    margin-right: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

@media screen and (max-width : 800px) {
    .navbar-main-responsive {
        display: flex;
        flex-direction: column;
        float: right;
        padding-right: 1rem;
        border: 1px solid black;
        padding: 2rem;
        background-color: whitesmoke;
    }

    .navbar-main-link-responsive,
    .navbar-main-logo-responsive,
    .navbar-main-login-responsive {
        display: flex;
        flex-direction: column;
    }

    .navbar-main-link-responsive p,
    .navbar-main-logo-responsive h2,
    .navbar-main-login-responsive {
        /* margin-left: 1rem; */
        padding-bottom: 0.5rem;
    }

    .navbar-main-link-responsive p:hover {
        background-color: goldenrod;
        padding: 0.5rem;
    }

    .navbar-main-logo-responsive h2:hover {
        color: goldenrod;
    }

    .navbar-main-icon {
        display: block;
    }

    .nav-icon {
        position: fixed;
        top: 0;
        right: 0;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        /* padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem; */
    }

    .navbar-main-link,
    .navbar-main-login {
        display: none;
    }

    .navbar-main-responsive {
        position: fixed;
        top: 0;
        right: 0;
    }

    .navbar-profile {
        padding-bottom: 0.5rem;
    }

    .nav-signup-login-btn{
        flex-direction: column;   
    }
}

@media screen and (max-width : 550px) {
    .navbar-main-responsive {
        padding: 0;
    }
}