.main-forget-pass-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forget-pass-form{
    /* background-color: lightblue; */
    padding: 16px 16px;
    border-radius: 5px;
    /* box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5); */
    width: 50%;
}

.forget-pass-form div{
    padding: 1rem;
}

