.detail-blog-title-date{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    /* background-repeat: no-repeat; */
    background-position: center;
}

.detail-blog{
    display: flex;
    justify-content: space-evenly;
}

.detail-banner-date{
    font-weight: 500;
}

.detail-blog-description{
    width: 50%;
}

.detail-blog-author-date{
    display: flex;
    text-align: left;
}

.detail-blog-date{
    margin-left: 0.5rem;
}

.detail-blog-author{
    font-weight: 500;
}